@import "reset.css";

@font-face {
  font-family: "Druk";
  font-weight: bold;
  src: url(../fonts/DrukTextWide-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "RF Tone";
  font-weight: bold;
  src: url(../fonts/RF Tone Bold.otf) format('truetype');
}

@font-face {
  font-family: "Kazimir";
  font-weight: black;
  src: url(../fonts/Kazimir-Black.otf) format('truetype');
}

body {
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-auto-rows: repeat(12, 1fr); */
  grid-auto-rows: minmax(100px, auto);
}

.main__section__1 {
  background: #00844B;
  grid-column: 1/4;
  grid-row: 1/3;
  position: relative;
}

.main__section__1 h1 {
  font-family: "Druk";
  font-size: 3vw;
  line-height: 80.5%;

  position: absolute;
  left: 4%;
  bottom: 8%;
}

.main__section__2 {
  background: #F75544;
  grid-column: 4/5;
  grid-row: 1/3;
}

.main__section__2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main__section__3 {
  background: #70348C;
  grid-column: 5/8;
  grid-row: 1/3;
}

.main__section__4 {
  background: #F6F7F6;;
  grid-column: 8/9;
  grid-row: 1/6;
  background-image: linear-gradient( 45deg, black 25%, transparent 25%, transparent 74%, black 75%, black),
  linear-gradient( 45deg, black 25%, transparent 25%, transparent 74%, black 75%, black);
  background-size:100px 100px;
  background-position: 0 0, 50px 50px;
}


.main__section__5 {
  background: #70348C;
  grid-column: 1/2;
  grid-row: 3/6;
  display: table-row;
}

 .main__section__5 div {
  background: #F6F7F6;
  height: 10%;
  width: 100%;
 }

.main__section__6 {
  background: #252120;
  grid-column: 2/5;
  grid-row: 3/6;
  display: flex;
  position: relative;
}

.gear1{
  width: 27%;
  position: absolute;
  top: 40%;
  left: 50%;
}

.gear2{
  width: 14%;
  top: 23%;
  position: absolute;
}

.gear3{
  width: 30%;
  position: absolute;
  bottom: 10%;
}

.gear4 {
  width: 40%;
  position: absolute;
  top: 5%;
  left: 20%;
}

.gear5 {
  width: 40%;
  position: absolute;
  right: -4%;
}

.main__section__7 {
  background: #00844B;
  grid-column: 5/6;
  grid-row: 4/5;
}

.main__section__8 {
  background: #F75544;
  grid-column: 6/8;
  grid-row: 3/6;
}

.main__section__8 div {
  background: #F6F7F6;
  border-radius: 100%;
}

.main__section__9 {
  background: #252120;
  grid-column: 5/6;
  grid-row: 5/6;
}

.main__section__10 {
  position: relative;
  background: #F75544;
  grid-column: 1/4;
  grid-row: 6/8;
}

.main__section__10 h1 {
  position: absolute;
  font-size: 2.5vw;
}

.main__section__10 h1 span {
  font-family: "RF Tone";
  display: inline;
	background-color: #F75544;
	box-shadow: -10px 0 0 #F75544, 10px 0 0 #F75544;
	padding: 0px 0;
	color: #FFFFFF;
}

.main__section__10 h1:nth-child(1) {
  position: absolute;
  animation: lots 1.5s linear infinite;
}

@keyframes lots {
  0% {
    z-index: 3;
  }
  10% {
    z-index: 3;
  }
  11% {
    z-index: 2;
  }
}

.main__section__10 h1:nth-child(2) {
  position: absolute;
  font-size: 2.5vw;
  top: 1.8vw;
  z-index: 2;
  animation: lots-2 1.5s linear infinite;
}
@keyframes lots-2 {
  12% {
    z-index: 5;
  }
  22% {
    z-index: 5;
  }
  23% {
    z-index: 3;
  }
}

.main__section__10 h1:nth-child(3) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 2);
  z-index: 3;
  animation: lots-3 1.5s linear infinite;
}

@keyframes lots-3 {
  23% {
    z-index: 3;
  }
  24%{
    z-index: 5;
  }
  35%{
    z-index: 5;
  }
  37%{
    z-index: 3;
  }
}

.main__section__10 h1:nth-child(4) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 3);
  z-index: 4;
  animation: lots-4 1.5s linear infinite;
}

@keyframes lots-4 {
  38% {
    z-index: 6;
  }
  48% {
    z-index: 6;
  }
  49% {
    z-index: 4;
  }
}

.main__section__10 h1:nth-child(5) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 4);
  z-index: 5;
}

.main__section__10 h1:nth-child(6) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 5);
  z-index: 4;
  animation: lots-6 1.5s linear infinite;
}

@keyframes lots-6 {
  49% {
    z-index: 4;
  }
  50% {
    z-index: 6;
  }
  61% {
    z-index: 6;
  }
  62% {
    z-index: 4;
  }
}

.main__section__10 h1:nth-child(7) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 6);
  z-index: 3;
  animation: lots-7 1.5s linear infinite;
}

@keyframes lots-7 {
  63% {
    z-index: 3;
  }
  64% {
    z-index: 6;
  }
  75% {
    z-index: 6;
  }
  76% {
    z-index: 3;
  }
}

.main__section__10 h1:nth-child(8) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 7);
  z-index: 2;
  animation: lots-8 1.5s linear infinite;
}

@keyframes lots-8 {
  77% {
    z-index: 2;
  }
  78% {
    z-index: 4;
  }
  89% {
    z-index: 4;
  }
  90%{
    z-index: 2;
  }
}

.main__section__10 h1:nth-child(9) {
  position: absolute;
  font-size: 2.5vw;
  top: calc(1.8vw * 8);
  animation: lots-9 1.5s linear infinite;
}

@keyframes lots-9 {
  90% {
    z-index: 1;
  }
  91% {
    z-index: 3;
  }
  99% {
    z-index: 3;
  }
  100% {
    z-index: 1;
  }

}


.main__section__11 {
  background: #F6F7F6;
  grid-column: 4/7;
  grid-row: 6/8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dice{
  background-color: #70348C;
  width: 6em;
  height: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "dot-1 dot-2 dot-3"
    "dot-4 dot-5 dot-6"
    "dot-7 dot-8 dot-9";
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.dice:nth-child(1) {
  transform: rotate(-15deg);
}

.dice:nth-child(2) {
  transform: rotate(60deg);
}

.dice:nth-child(3) {
  transform: rotate(25deg);
}

#dot-1{
  grid-area: dot-1;
}
#dot-2{
  grid-area: dot-2;
}
#dot-3{
  grid-area: dot-3;
}
#dot-4{
  grid-area: dot-4;
}
#dot-5{
  grid-area: dot-5;
}
#dot-6{
  grid-area: dot-6;
}
#dot-7{
  grid-area: dot-7;
}
#dot-8{
  grid-area: dot-8;
}
#dot-9{
  grid-area: dot-9;
}


.dot{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: hsl(3, 79%, 38%);
}




.hide {
  display: none;
}

.main__section__12 {
  background: #00844B;
  grid-column: 7/9;
  grid-row: 6/10;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
 /* как задать всю ширину блока */
.main__section__12 img {
  height: 14vh;
  width: 14vh;
}

.main__section__13 {
  background: #252120;
  grid-column: 1/3;
  grid-row: 8/10;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.main__section__13 div {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;

  background: #00844B;
}

.main__section__14 {
  background: #70348C;
  grid-column: 3/4;
  grid-row: 8/10;
}

.main__section__15 {
  background: #252120;
  grid-column: 4/7;
  grid-row: 8/10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section__15 h1 {
  font-family: "Kazimir";
  color: #fff;
  font-size: 13em;
}

.main__section__16 {
  background: #F6F7F6;
  grid-column: 1/4;
  grid-row: 10/12;
}


.main__section__17 {
  background: #00844B;
  grid-column: 4/7;
  grid-row: 10/12;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.main__section__17 div{
  width: 5vw;
  height: 4vw;
}

.main__section__17 div:nth-child(even){
  width: 5vw;
  height: 4vw;
  background: #70348C;
}

.main__section__18 {
  background: #252120;
  grid-column: 7/9;
  grid-row: 10/12;
  display: flex;
  justify-content: space-around;
}

.main__section__18 div {
  background: #fff;
  height: 30vh;
  width: 6vh;
}

.fluid-text {
  width: 100%;
}







//
